build*/
dist*/
include/config.h
*AppDir/
*AppImage
*.tar.gz
.pio/
sdkconfig.*
!sdkconfig.defaults*
!firmware/sdkconfig.lcd5b.defaults
firmware/sdkconfig.defaults
firmware/managed_components/
firmware/.dummy/
.rcc/
.qt/
CMakeFiles/
meta_types/
*.user
*.ino.cpp
